body {
    background-color: #393E46;
}

h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    margin: 4rem;
    color: #4ecca3;
}

p {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: #4ecca3;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #eeeeee;
}

.container {
    text-align: center;
    margin: auto;
    width: 70%;
}

.dice {
    text-align: center;
    display: inline-block;
}